:root {
    --color-white: #ffffff;
    --color-black: #2D3436;
    --color-gray-64: #5C5C5C;
    --color-gray-48: #858585;
    --color-gray-32: #ADADAD;
    --color-gray-24: #C2C2C2;
    --color-blue-dark: #0984E3;
    --color-blue-light: #74B9FF;
    --color-green-dark: #00B894;
    --color-green-light: #55EFC4;
    --color-yellow-dark: #FDCB6E;
    --color-yellow-light: #FFEAA7;
    --color-red-dark: #D63031;
    --color-red-light: #FF7675;
    --color-purple-dark: #6C5CE7;
    --color-purple-light: #A29BFE;
    --color-pink-dark: #E84393;

    --font-main-b: InterB, Arial, sans-serif;
    --font-main-m: InterM, Arial, sans-serif;
    --font-main-r: InterR, Arial, sans-serif;
    --font-main-l: InterL, Arial, sans-serif;

    --animation: 0.3s ease-in;    
}

body {
    margin: 0;    
}
body * {
    box-sizing: border-box;
}

.container {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 20px; 
}

.mobile {
    display: none;
}

/* Buttons styles */
.button,
.button-primary {
    font-family: var(--font-main-b);
    font-size: 24px;
    outline: none;
    cursor: pointer;
    appearance: none;
    transition: color var(--animation), background-color var(--animation);
}
.button {    
    border: 1px solid var(--color-gray-32);
    border-radius: 16px;
    color: var(--color-purple-dark);
    background-color: var(--color-white);
}
.button-primary {
    color: var(--color-white);
    background-color: var(--color-purple-dark);
    border: 1px solid var(--color-purple-dark);
    border-radius: 999px;
}
.button:hover,
.button:focus {
    color: var(--color-white);
    background-color: var(--color-purple-dark);
    border-color: var(--color-purple-dark);
}
.button-primary:hover,
.button-primary:focus {
    background-color: var(--color-white);
    color: var(--color-purple-dark);
}

/* Header styles */
.header {    
    padding: 16px 0;
    background: var(--color-white);
    box-shadow: 0px 2px 4px rgba(12, 49, 68, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
}
.header-wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: space-between;
}
.header-button {
    margin: 0 0 0 30px;
    padding: 16px 42px;
    letter-spacing: 0.25px;

}

/* Logo */
.logo {
    margin: 0 14px 0 0;
}
.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo-link:focus {
    border-radius: 4px;
    outline: 1px solid var(--color-purple-light);
}
.logo-title {
    padding-right: 12px;
    font-family: var(--font-main-b);
    font-size: 48px;
    letter-spacing: -1px;
    color: var(--color-black);
}

.main {
    position: relative;
}

/* Navigation */
.main-navigation-list {
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.main-navigation-item {
    position: relative;
    margin: 0 40px 0 0;
    padding: 0;
}
.main-navigation-item:after {
    content: '•';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -24px;
    font-family: var(--font-main-b);
    font-size: 18px;
    color: var(--color-yellow-dark);
}
.main-navigation-item:last-of-type {
    margin-right: 0;
}
.main-navigation-item:last-of-type::after {
    display: none;
}
.main-navigation-link {    
    font-family: var(--font-main-r);
    font-size: 18px;
    color: var(--color-purple-dark);    
    text-decoration: none;
    outline: none;    
}
.main-navigation-link:hover {
    text-decoration: underline;    
}
.main-navigation-link:focus {
    border-radius: 4px;
    outline: 1px solid var(--color-purple-light);
}
.main-navigation-link-active {
    color: var(--color-black);
    font-family: var(--font-main-b);
    font-size: 18px;
}

/* Content */
.main-grid {
    display: grid;
    grid-template: auto auto auto/5fr 5fr 4fr 3fr 3fr;   
    height: 100%;
    grid-gap: 30px;
    padding: 40px 0;
}
.main-grid img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.main-grid-text1,
.main-grid-text2 {
    margin: 0;
    padding: 0;
    font-family: var(--font-main-r);    
    font-size: 18px;
    line-height: 32px;
    color: var(--color-black);
}
.main-grid-text1 {    
    grid-column: 1/2;
    grid-row: 1/2;   
}
.main-grid-text2 {
    position: relative;
    top: 4px;
    grid-column: 4/6;
    grid-row: 2/3;
}
.main-grid-image1 {
    grid-column: 1/2;
    grid-row: 2/5; 
    max-height: 580px;  
}
.main-grid-image2 {
    grid-column: 2/4;
    grid-row: 1/4;   
}
.main-grid-image3 {
    grid-column: 4/5;
    grid-row: 3/4;    
    max-height: 222px;
    min-height: 222px;
    align-self: end;
}
.main-grid-image4 {
    grid-column: 5/6;
    grid-row: 3/4; 
    max-height: 222px;
    min-height: 222px;
    align-self: end;
}
.main-grid-image5 {
    grid-column: 2/3;
    grid-row: 4/5;
    max-height: 284px;
    min-height: 284px;
}
.main-grid-image6 {
    grid-column: 3/5;
    grid-row: 4/5;
    max-height: 356px;
    min-height: 356px;
}
.main-grid-image7 {
    grid-column: 5/6;
    grid-row: 4/5;
    max-height: 222px; 
    min-height: 222px; 
}
.main-button-wrapper {
   display: flex;
   justify-content: center;
   padding: 0 0 30px 0;
}
.main-button {    
    padding: 20px 48px;
    font-size: 32px;
    letter-spacing: -0.5px;
}
.main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0 24px 0;
}
.main-text-title,
.main-text-description {
    padding: 0;
    font-family: var(--font-main-b);    
    color: var(--color-black);
    text-align: center;
}
.main-text-title {    
    margin: 0 0 16px 0;
    font-size: 96px;
    letter-spacing: -3px; 
    text-shadow: 0px 4px 0px var(--color-white);   
}
.main-text-title-accent {
    position: relative;
    color: var(--color-red-dark);
    text-shadow: 0px 4px 0px var(--color-white);
}
.main-text-title-accent::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -6%;
    display: block;
    width: 112%;
    height: 51px;
    border-radius: 999px;
    background: var(--color-green-light);
    z-index: -1;
}
.main-text-description {
    margin: 0;    
    font-size: 64px;
    letter-spacing: -1px;
}

.main-background-image, 
.main-background-dots {
    position: absolute;
    top: 0;
    right: 0;    
    z-index: -2;    
}
.main-background-image {
    opacity: 0.4;
} 
.main-background-dots {
    top: 18px;
}

/* Section */
.section {
    padding: 80px 0;
}
.section-title {
    margin: 0 0 34px 0;
    padding: 0;
    font-family: var(--font-main-b);
    font-size: 64px;
    letter-spacing: -1px;
    text-align: center;
    color: var(--color-black);
}
.section-subtitle {
    margin: 0 0 15px 0;
    padding: 0;
    font-family: var(--font-main-b);
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.5px;
    color: var(--color-black);
}
.section-description {
    font-family: var(--font-main-b);
    font-size: 32px;
    letter-spacing: -0.5px;
    text-align: center;
    color: var(--color-gray-32);
}
.section-description-accent {
    position: relative;
    color: var(--color-purple-dark);
}
.section-description-accent:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 12px;
    background-color: var(--color-yellow-dark);
    border-radius: 999px;
    z-index: -2;
}
.section-text {
    margin: 0;
    padding: 0;
    font-family: var(--font-main-r);
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.25px;
}
.section-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin: 40px 0 0 0;
    padding: 0;
    list-style-type: none;
}
.section-item {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}
.section-item-icon-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin: 0 0 24px 0;
    padding: 0;
    border-radius: 50%;
}
.section-item-icon {
    display: block;
}
.section-item-title {
    margin: 0 0 16px 0;
    padding: 0;
    font-family: var(--font-main-b);
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.25px;
    color: var(--color-black);
}
.section-item-text {
    margin: 0 0 8px 0;
    padding: 0;
    font-family: var(--font-main-r);
    font-size: 18px;
    line-height: 32px;
    color: var(--color-black);
}
.section-item-button {
    justify-self: start;
    padding: 12px 22px;
    font-size: 18px;
    letter-spacing: 0.2px;
}
.pink-dark-bg {
    background-color: var(--color-pink-dark);
}
.blue-dark-bg {
    background-color: var(--color-blue-dark);
}
.purple-dark-bg {
    background-color: var(--color-purple-dark);
}
.green-dark-bg {
    background-color: var(--color-green-dark);
}

/* Price cards */
.price-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 40px 0 0 0;
    padding: 0;
    list-style-type: none;
}
.price-card {
    position: relative;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    padding: 32px;
    background: var(--color-white);
    border-radius: 8px;
    transition: box-shadow var(--animation);
}
.price-card:after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: -30px;
    display: block;
    width: 200px;
    height: 130px;
    background: url(../images/backgrounds/wiggle.svg) no-repeat center;
    z-index: -2;
    opacity: 0;
    visibility: hidden;
    transform: translate(10px, -10px);
    transition: opacity var(--animation), transform var(--animation);
}
.price-card:hover {
    box-shadow: 0px 8px 8px rgba(38, 50, 56, 0.12), 0px 16px 24px rgba(38, 50, 56, 0.08);
}
.price-card:hover::after {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
}
.price-card-name {
    display: inline-grid;
    grid-template-columns: 1fr auto;    
    font-family: var(--font-main-b);
    margin: 0 0 16px 0;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.2px;
    color: var(--color-purple-dark);
}
.price-card-label {
    padding: 4px 12px;
    border: 1px solid var(--color-purple-dark);
    border-radius: 99px; 
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 2.5px;
    color: var(--color-black);
    text-transform: uppercase;
}
.price-card-price {
    margin: 0 0 24px 0;
    font-family: var(--font-main-b);
    font-size: 12px;
}
.price-card-price-amount {
    font-size: 48px;
    letter-spacing: -1px;
}
.price-card-options {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.price-card-option {
    position: relative;
    margin: 0 0 24px 0;
    padding: 0 0 0 48px;
    font-family: var(--font-main-r);
    font-size: 18px;
    line-height: 32px;
}
.price-card-option:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 32px;
    height: 32px;
    background-color: var(--color-gray-24);
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.48 1.64014L4.32 7.80014L1.52 5.00014' stroke='%232D3436' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.price-card-button {
    padding: 16px;
    font-size: 18px;
    height: 64px;
    transition: font var(--animation);
}
.price-card-button:hover {
    font-size: 24px;
}
.price-card:nth-child(2) .price-card-option:before {
    background-color: var(--color-yellow-dark);
}
.price-card:nth-child(3) .price-card-option:before {
    background-color: var(--color-green-light);
}

/* Footer */
.footer {
    padding: 80px 0 136px;
    background: url('../images/backgrounds/wave-2.svg') no-repeat bottom;
    background-size: contain;
}
.footer-wrapper {
    display: grid;
    grid-template: auto 1fr/1fr 1fr;
    grid-gap: 30px;
}
.footer-label {
    margin: 0 0 8px 0;
    padding: 0;
    font-family: var(--font-main-b);
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: var(--color-gray-32);
}
.footer-list {
    display: inline-grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 30px;
    grid-row-gap: 16px;
    list-style-type: none;
    margin: 0;
    padding: 8px 0 0 0;    
}
.footer-item {
    margin: 0;
    padding: 0;
}
.footer-link {
    font-family: var(--font-main-r);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.25px;  
    color: var(--color-black);
    text-decoration: none;  
    transition: text-decoration var(--animation);
}
.footer-link:hover {
    text-decoration: underline;
}
.copyright {
    display: none;
}

/* Social */
.social-list {    
    display: flex;    
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.social-item {
    margin: 0 40px 10px 0;
    padding: 0;
}
.social-link {
    display: flex;
    width: 40px;
    min-width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color var(--animation);
}
.social-link:hover {
    background-color: var(--color-yellow-light);
}

/* Contacts */
.contact-email {
    font-family: var(--font-main-b);
    font-size: 32px;
    letter-spacing: -0.5px;
    color: var(--color-purple-dark);
    text-decoration: none;
}
.contact-email:hover {
    text-decoration: underline;
}

/* Form */
.form {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 30px;
    margin: 0;
    padding: 8px 0 0 0;
}
.form-input, 
.form-message {
    position: relative;
    font-family: var(--font-main-b);
    font-size: 18px;
    letter-spacing: 0.2px;
    color: var(--color-purple-dark);
    background-color: rgba(194, 194, 194, 0.24);
    border-radius: 16px;
    border: none;
    outline: none;
    background-repeat: no-repeat;
    background-position: top 4px right 4px;
}
.form-input:focus, 
.form-message:focus {
    outline: 2px solid var(--color-purple-light);
}
.form-message:focus {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28 22.66V28C28 28.5304 27.7893 29.0391 27.4142 29.4142C27.0391 29.7893 26.5304 30 26 30H12C11.4696 30 10.9609 29.7893 10.5858 29.4142C10.2107 29.0391 10 28.5304 10 28V14C10 13.4696 10.2107 12.9609 10.5858 12.5858C10.9609 12.2107 11.4696 12 12 12H17.34' stroke='%236C5CE7' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M26 10L30 14L20 24H16V20L26 10Z' stroke='%236C5CE7' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
#name:focus {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28 29V27C28 25.9391 27.5786 24.9217 26.8284 24.1716C26.0783 23.4214 25.0609 23 24 23H16C14.9391 23 13.9217 23.4214 13.1716 24.1716C12.4214 24.9217 12 25.9391 12 27V29' stroke='%236C5CE7' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20 19C22.2091 19 24 17.2091 24 15C24 12.7909 22.2091 11 20 11C17.7909 11 16 12.7909 16 15C16 17.2091 17.7909 19 20 19Z' stroke='%236C5CE7' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
#email:focus {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 12H28C29.1 12 30 12.9 30 14V26C30 27.1 29.1 28 28 28H12C10.9 28 10 27.1 10 26V14C10 12.9 10.9 12 12 12Z' stroke='%236C5CE7' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M30 14L20 21L10 14' stroke='%236C5CE7' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.form-input::placeholder, 
.form-message::placeholder {
    font-family: var(--font-main-r);
    color: var(--color-black);
}
.form-input {    
    grid-column: span 3;
    height: 48px;
    padding: 8px 44px 8px 16px;
}

.form-message, 
.form-button  {
    height: 80px;
}
.form-message {
    grid-column: span 4;
    padding: 16px 44px 16px 16px;
    resize: none;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28 22.66V28C28 28.5304 27.7893 29.0391 27.4142 29.4142C27.0391 29.7893 26.5304 30 26 30H12C11.4696 30 10.9609 29.7893 10.5858 29.4142C10.2107 29.0391 10 28.5304 10 28V14C10 13.4696 10.2107 12.9609 10.5858 12.5858C10.9609 12.2107 11.4696 12 12 12H17.34' stroke='%23ADADAD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M26 10L30 14L20 24H16V20L26 10Z' stroke='%23ADADAD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
#name {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28 29V27C28 25.9391 27.5786 24.9217 26.8284 24.1716C26.0783 23.4214 25.0609 23 24 23H16C14.9391 23 13.9217 23.4214 13.1716 24.1716C12.4214 24.9217 12 25.9391 12 27V29' stroke='%23ADADAD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20 19C22.2091 19 24 17.2091 24 15C24 12.7909 22.2091 11 20 11C17.7909 11 16 12.7909 16 15C16 17.2091 17.7909 19 20 19Z' stroke='%23ADADAD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
#email {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 12H28C29.1 12 30 12.9 30 14V26C30 27.1 29.1 28 28 28H12C10.9 28 10 27.1 10 26V14C10 12.9 10.9 12 12 12Z' stroke='%23ADADAD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M30 14L20 21L10 14' stroke='%23ADADAD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.form-button {
    grid-column: span 2;
    align-self: center;
    letter-spacing: 0.25px;
    text-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
    box-shadow: 0px 8px 24px rgba(38, 50, 56, 0.1), 0px 16px 32px rgba(38, 50, 56, 0.08);
    border-radius: 16px;
    transition: box-shadow var(--animation), background-color var(--animation), color var(--animation);
}
.form-button:hover {
    box-shadow: none;
}

/* Media tablet version */
@media screen and (max-width: 1023px) {
    .mobile {
        display: block;
    }
    .button, .button-primary {
        font-size: 18px;
        border-radius: 8px;
    }
    .button-primary {
        text-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
    }
    .logo-title {
        font-size: 32px;
    }
    .main {
        overflow: hidden;
    }
    .main-text {
        padding: 48px 0 24px;
    }
    .main-text-title {
        font-size: 64px;
    }
    .main-text-description {
        font-size: 32px;
    }    
    .main-grid {
        width: 140%;
        margin: 0 -15%;
    }
    .main-grid-text1,
    .main-grid-text2 {
        display: none;
    }
    .main-navigation-list {
        display: none;
    }
    .section {
        padding: 40px 0;
    }
    .section-title {
        font-size: 48px;
    }
    .section-list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 40px;
    }
    .section-subtitle-more {
        display: none;
    }
    .section-item-icon-block {
        border-radius: 12px;
    }
    .price-cards {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-auto-rows: 1fr;
        grid-auto-flow: row;
    }
    .price-card {
        grid-template-rows: repeat(4, auto);
        max-width: 520px;
        width: 100%;
        justify-self: center;
        border-radius: 16px;
        box-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
    }
    .footer {
        padding: 40px 0 49px 0;
        background-image: url('/images/backgrounds/shape.svg');
        background-position: left bottom;
        background-size: 50%;
    }
    .footer-wrapper {
        grid-template-columns: 1fr;
    }
    .footer-label,
    .information-links,
    .footer-form {
        display: none;
    }
    .contact-us {
        order: 2;
        text-align: center;
    }
    .contact-email {
        font-size: 26px;
    }
    .social {
        order: 3;
    }
    .social-list {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-around;
        grid-gap: 20px;
    }
    .social-item {
        margin: 0;
    }  
    .social-icon {
        stroke: var(--color-black);
    }  
    .copyright {
        display: grid;
        grid-template: auto auto/1fr;
        font-family: var(--font-main-m);
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.2px;
        line-height: 24px;
    }
}

/* Media mobile version */
@media screen and (max-width: 767px) {
    .contact-email {
        font-size: 18px;
    }
    .social-list {
        justify-content: space-between;
    }
}